In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:\\Users\\shyam\\Desktop\\Python_Hyderabad_Jobs_10022020_18_38_49.csv')

In [12]:
df.head()

,Job_Name,Company,Location,Apply_Link,Posted_Date
0,Python Trainer,Focus Training Services,"Hyderabad, Telangana",https://www.indeed.co.in/viewjob?jk=fd72d43e5d...,5 days ago
1,Odoo Developer,Clarion Analytics,"Hyderabad, Telangana",https://www.indeed.co.in/viewjob?jk=d388ab8cde...,1 day ago
2,Faculty For Sofware Courses (Online Or Offline),Azka Testingdevnets Solutions Pvt Ltd,"Hyderabad, Telangana",https://www.indeed.co.in/viewjob?jk=e1937b9bda...,13 days ago
3,Sr. Python Developer,Conscience Technologies,"Hyderabad, Telangana",https://www.indeed.co.in/viewjob?jk=f8259ff0a5...,2 days ago
4,Java/.Net/Python Freshers Required,Www.Yansisofsol.Com,"Hyderabad, Telangana",https://www.indeed.co.in/viewjob?jk=92f85833f7...,15 days ago

In [4]:
df.shape

(95, 5)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95 entries, 0 to 94
Data columns (total 5 columns):
Job_Name       95 non-null object
Company        95 non-null object
Location       95 non-null object
Apply_Link     95 non-null object
Posted_Date    95 non-null object
dtypes: object(5)
memory usage: 1.9+ KB

In [13]:
df.tail()

,Job_Name,Company,Location,Apply_Link,Posted_Date
90,Robotics Internship,Alog Tech,"Hyderabad, Telangana",https://www.indeed.co.in/viewjob?jk=01316e7bec...,8 days ago
91,Faculty For Sofware Courses (Online Or Offline),Azka Testingdevnets Solutions Pvt Ltd,"Hyderabad, Telangana",https://www.indeed.co.in/viewjob?jk=e1937b9bda...,13 days ago
92,"R&D Engineer, Ii",Synopsys,"Hyderabad, Telangana",https://www.indeed.co.in/viewjob?jk=d0142d1a59...,2 days ago
93,Backend Developer(Combination Of Server Progra...,Gamenexa Studios,"Hyderabad, Telangana",https://www.indeed.co.in/viewjob?jk=7211145232...,18 days ago
94,Python Trainer,Focus Training Services,"Hyderabad, Telangana",https://www.indeed.co.in/viewjob?jk=fd72d43e5d...,5 days ago